@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h5>Demo Project</h5>
<div>The aim of this demo project is to create a simple application that satisfies a few minor requirements.</div>
<div>OPG is looking to develop a web-based application to allow them to manage daily inspections on power stations under its control (past and future). Here is an itemized list of requirements:</div>

<ol>
    <li>Each power station has an Id, name, location (GPS Coordinates), phone number and address.</li>
    <li>Each inspection has an associated power station, Id, date, name of inspector, comment and status of SCHEDULED, PASS, FAIL.</li>
    <li>The application shall allow CRUD (Create, read, update and delete) operations on both the power station and associated inspection.</li>
    <li>When in production, the system is expected to have 5,000 power stations. (hint – this only to say that there should consideration that the number of stations/inspections will be considerable).</li>
    <li>The application shall be built on ASP.NET Core and demonstrate the use of Razor, Entity Framework and MVC.</li>
</ol>

<div>No further requirements shall be provided. You can make reasonable assumptions to get a viable product. You have the freedom to develop this in any manner you wish as long as the above requirements have been met.</div>
